<div class="row">
    <div class="col-md-12">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                {% if type == 'error' %} {% set type = 'danger' %} {% endif %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        <form action="{{ url('he8us_feedback_admin_reply',{id: message.id}) }}" method="post">
            <div class="form-group">
                <label for="subject">{{ "feedback.feedback.reply.subject"|trans }}</label>
                <input class="form-control" type="text" id="subject" name="message[subject]"
                       value="{{ "feedback.feedback.reply.subject.prefix"|trans }} {{ message.body[:100] }}"/>
            </div>
            <div class="form-group">
                <label for="to">{{ "feedback.feedback.reply.to"|trans }}</label>
                <input class="form-control" type="text" id="to" value="{{ message.email }}" name="message[to]"/>
            </div>
            <div class="form-group">
                <label for="message">{{ "feedback.feedback.reply.message"|trans }}</label>
                <textarea class="form-control" name="message[body]" id="message" cols="30" rows="10">

    ----
                    {{ message.body }}

                    {{ "feedback.feedback.reply.sender" }} {{ message.email }} [ {{ message.senderIp }} ]
                    </textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary"
                        type="submit">{{ "feedback.feedback.reply.send"|trans }}</button>
            </div>
        </form>
    </div>
</div>
