<table>
    <tbody>
    <tr>
        <th>{{ 'feedback.category.id' | trans }}</th>
        <td>{{ category.id }}</td>
    </tr>
    <tr>
        <th>{{ 'feedback.category.name' | trans }}</th>
        <td>{{ category.name }}</td>
    </tr>
    <tr>
        <th>{{ 'feedback.category.label' | trans }}</th>
        <td>{{ category.label }}</td>
    </tr>
    <tr>
        <th>{{ 'feedback.category.deleted' | trans }}</th>
        <td>
            {% if category.deleted %}
                {{ 'feedback.category.deleted.yes' | trans }}
            {% else %}
                {{ 'feedback.category.deleted.no' | trans }}
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('he8us_category_admin_homepage') }}">{{ 'feedback.category.back_to_list' | trans }}</a>
    </li>
    <li>
        <a href="{{ path('he8us_category_admin_edit', { 'id': category.id }) }}">{{ 'feedback.category.edit' | trans }}</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
            <input type="submit" value="{{ 'feedback.category.delete' | trans }}">
        {{ form_end(delete_form) }}
    </li>
</ul>
